$focus-overlay-border-color: #396aab !default;
$focus-overlay-box-shadow-color: $focus-overlay-border-color !default;

.focus-overlay {
  display: none;
  position: relative;
  transition: all 0.2s cubic-bezier(0, 1, 0, 1);

  &::after {
    content: "";
    position: absolute;
    z-index: 9999;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 1px solid $focus-overlay-border-color;
    border-radius: 0.3125em;
    box-shadow:
      (
        0 0 3px 1px rgba($focus-overlay-box-shadow-color, 0.6),
        inset 0 0 0 1px white,
      );
  }

  .focus-overlay-active {
    display: block;
  }

  &-target {
    outline: none;
  }
}
